@charset "utf-8";

/*
   Final Project
   Trying colors/fonts
   Author: Terri Lyman
   Date: March 23, 2019  

   Filename:   hu_base.css

*/

/* Basic styles to be used with all devices and under all conditions */

/* Set the default page element styles */

/* ============================================
   Text, headings, paragraph styles
   ============================================
*/

/* Requirement - h1 set font size to 2.5rem, font family to Glass Antiqua, 
   color to rgb(61, 74, 84) margin 5px 3/24/19 */
h1 {
  color: rgb(61, 74, 84);
  font-size: 2.5rem;
  font-family: 'Glass Antiqua', cursive;
  margin: 5px;
}

/* Requirement - h2 set font size to 2.25rem, font family to Raleway, sans-serif,
   color to rgb(195, 127, 112) margin 4px 4/15/19 */
h2 {
  color: rgb(195, 127, 112);
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  margin: 4px;
}

/* Requirement - h3 set font size to 2 rem, font family to Raleway, sans-serif,
   color to rgb(195, 127, 112) margin 4px 4/15/19 */
h3 {
  color: rgb(195, 127, 112);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  margin: 4px;
}

/* Requirement - h4 set font size to 1.75 rem, font family Raleway, sans-serif,
   color to rgb(195, 127, 112) margin 3 px 4/15/19 */
h4 {
  color: rgb(195, 127, 112);
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif;
  margin: 3px;
}

/* Requirement - set font for h5, footer, font size 1 rem, font family 'Glass
   Antiqua', cursive, color rgb(61, 74, 84) margin 3px 4/15/19 */
h5 {
  color: rgb(61, 74, 84);
  font-size: 1.5rem;
  font-family: 'Glass Antiqua', cursive;
  margin: 3px;
}

/* for p element set font size to 1.25rem, font family to Aleo or serif, and margin
   10px  3/24/19 */
p {
  color: rgb(61, 74, 84);
  font-size: 1.25rem;
  font-family: 'Aleo', serif;
  margin: 10px;  
}

/* ============================================
   Section Styles
   ============================================
*/

/* set font size basis for largest screen size, font-family to Aleo, serif
   for longer text 3/24/19 */
html {
  color: rgb(61, 74, 84);
  font-size: 16px;
  font-family: 'Aleo', serif; 
}

/* add margin and padding for body 4/24/19 */
body {
  margin: 15px;
  padding: 5px;
}

/* Initial style header with background color and width 100% 4/9/19 */
header, footer {
  background-color: rgba(195, 127, 112, 0.5);
  width: 900px;
  margin: 10px auto;
}

/* Requirement - pseudo-element a:link 4/9/19
   set initial font and color terracotta rgb(195, 127, 112) for nav elements 4/9/19 */
nav a:link {
  color: rgb(195, 127, 112);
  background: rgba(195, 127, 112, 0.5);
  border: solid 1px;
  border-color: rgb(195, 127, 112);
  font-size: 1.75rem;
  padding: 0.2rem;
  font-family: "Raleway", sans-serif;
  list-style: none;
  text-decoration: none; 
}

/* set nav hover color lt blue rgb(53, 157, 237) 4/9/19 */
nav a:hover {
   color: rgb(53, 157, 237);
}

/* set nav visited color dk blue rgb(61, 74, 84) 4/9/19 */
nav a:visited {
   color: rgb(61, 74, 84);
}

/* Requirement - Border 4/15/19 
   set .content with terracotta border, box-shadow, 10px auto margin, and
   10px padding. */
div.content {
  border: 1rem solid rgba(195, 127, 112, 0.8);
  box-shadow: 6px 6px 10px rgb(61, 74, 84);
  margin: 10px auto;
  padding: 10px;
 /* width: 900px;    for desktop*/
}

/* fixed div with class name section to .howTo, 4/15/19, */
div.howTo {
  margin: 10px auto;
/*  width: 900px; for desktop */ 
}


article, aside {
  margin: 5px 5px auto;
 /* width: 350px; commented to try to fix flexbox want column in mobile*/

}

/* blockquote p element padding 15px, font-family 'Glass Antiqua', cursive
   4/26/19 */
blockquote p {
  padding: 15px;
  font-family: 'Glass Antiqua', cursive;
}

/* blockquote cite element padding 15px, font-family 'Glass Antiqua', cursive
   4/26/19 */
blockquote cite {
   padding: 15px;
   font-family: 'Glass Antiqua', cursive;
}

/* address element margin 5px, font-size: 1.5rem 4/11/19 */
address {
   margin: 5px;
   font-size: 1.5rem;
}

/* ============================================
   Images 
   ============================================
*/

/* Initial header logo size 4/9/19 */
header img {
   height: 60px;
   margin: 10px;	
}


/* Requirement - Image 1, box-shadow (advanced CSS Styling) 4/24/19.
   set welcomeImage class solid border 5px color rgb(61, 186, 175) 3/24/19
   box-shadow 10px 10px 10px rgb(61, 74, 84), margin 30px 4/28/19 */
.welcomeImage {
   border: solid 5px;
   border-color: rgb(61, 186, 175);
   box-shadow: 10px 10px 10px rgb(61, 74, 84);
   margin: 30px;
}

/* avail item images border solid 2px, border color rgb(61, 186, 175), 4/26/19 */
.availItem {
   border: solid 5px rgb(61, 186, 175);
   color: rgb(195, 127, 112);
   font-size: 1.5rem;
   font-family: "Raleway", sans-serif;
   margin-bottom: 5px;
}

/* initial footer logo size 4/26/19 */
footer > img {
   height: 60px;
   margin: 10px;   
}

/* font-family stacks for reference
font-family: 'Glass Antiqua', cursive;
font-family: 'Aleo', serif;
font-family: 'Raleway', sans-serif;
*/

/* set font size to 1.5rem, font family to Raleway for gallery text 3/24/19 */
/*
gallery text {
  color: rgb(195, 127, 112);
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}


nav.horizontal a:visited, nav.horizontal a:link {
   color: rgb(31, 73, 125);
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: rgb(31, 73, 125);
   color: white;
}

*/

