/*
Birds Bees and Diabetes CSS Stylesheet
Author: Terri Lyman
Date: September 9, 2018
2/19/18 add univeral selector
*/
* {box-sizing: border-box; }
body { background-color: #ffffcc;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	background-image: url(backgroundtb.jpg); }
main { padding-left: 20px;
		background-color: #ffffcc;
		margin-left: 170px;
		padding-top: 1px;
		padding-bottom: 1px;
	   padding-right: 20px;
	   display: block; }
h1 { background-color: #6699cc;
	color: #333399;
	font-family: Georgia, serif;
	line-height: 200%;
	background-image: url(bluegreenswirlrw.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 25%;
	padding-left: 10px;
	margin-bottom: 0; }
h2 { background-color: #ffffcc;
	 font-family: Georgia, serif;
	 color: #6699cc;
	 line-height: 150%;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 5px;
	padding-left: 20px; }
/*adjusted font, font size for more balanced look*/
nav { float: left;
	width: 160px;
	line-height: 100%;
	font-weight: bold;
	font-size: 1.25em;
	font-family: Georgia, serif;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px; }
nav a:link { color: #000033; }/*2/20/18add nav a:link :hover :visited*/
nav a:visited { color: #344873; }
nav a:hover { color: #339933; }
nav ul { list-style-type: none;/*2/20/18unordered list configuration*/
	padding-left: 0;
	margin: 0; }
nav a { text-decoration: none; }/*2/19/18 Remove underlines to navigation elements*/

main ul { list-style-type: none; }
main li { display: inline-block;
	width: 320px;
	text-align: center; }

footer { font-size: 0.7em;/*set background color and left margin*/
	font-style: italic;
	background-color: #ffffcc;
	margin-left: 170px;
	text-align: center;
	padding: 5px; }
/*2/11/18 wrapper is an id selector to center the elements in a div
2/19/18 add background color, min- and max-width, and box-shadow to wrapper*/
#wrapper { margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 5px 5px 5px #828282;
	background-color: #ffffcc; }
/*4/20/18 add ID rig image to diabetes page*/	
/*5/6/18 change image size for consistency*/
#myrig { margin-right: 1em;
	margin-top: 1em;
	padding-bottom: 20em;
	width: 100%;
	background-image: url(diabtech2rw.jpg);
	background-repeat: no-repeat;
	background-position: center; }
/*5/6/17 add image to crafts for consistency*/
#fishes { margin-right: 1em;
	margin-top: 1em;
	padding-bottom: 20em;
	width: 100%;
	background-image: url(fishesrw.jpg);
	background-repeat: no-repeat;
	background-position: center; }
/*5/6/17 add image to nature for consistency*/
#nature { margin-right: 1em;
	margin-top: 1em;
	padding-bottom: 20em;
	width: 100%;
	background-image: url(irisrw.jpg);
	background-repeat: no-repeat;
	background-position: center; }
/*5/6/17 add image to in the kitchen for consistency*/
/*9/9/18 change to "cooking"*/
#cooking { margin-right: 1em;
	margin-top: 1em;
	padding-bottom: 20em;
	width: 100%;
	background-image: url(lettucerw.jpg);
	background-repeat: no-repeat;
	background-position: center; }
	/*5/2/18 add butterfly image to nature page*/
#butterfly { 
	width: 100%;
	height: 270px;
	background-image: url(butterfly2rw.jpg);
	background-repeat: no-repeat;
	background-position: left;
	color: #666666;
	font-size: .8em; }
/*4/28/18 add figure for craft photos 300px width*/
figure { width: 310px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333399;
	padding: 5px; }
figcaption	{ text-align: center;
	font-family: Georgia, serif;
	color: #6699cc; }
/*4/27/18 add ID Title and intro to In The Kitchen page*/
/*9/9/18 change to "cooking"*/	
#cookingintro { margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 700px;
	max-width: 1024px; }
/*4/27/18 add recipe table and paragraph after*/
#recipe {  margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 700px;
	max-width: 1024px; }
/*4/30/18, ID for format of image for imagemap*/
#nestmap { margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 80%;}

/*4/12/18 create video source formatting as a class*/
.videosource { margin-left: auto;
	margin-right: auto;
	color: #666666;
	font-size: .6em;
	font-style: italic;} 
/*4/17/18 Add class for table1 format for Recipe Table continue formatting*/

table.table1 { margin: auto;
	border: 3px solid #333399;
	border-spacing: 1em;
	width: 600px; }
table.table1 tr { ; }
table.table1 td { ; }
table.table1 th { }
/*Add class table2 format for Diabetes Links, continue formatting */

table.table2 { margin: auto;
	border: 3px solid #333399;
	border-spacing: 0;
	width: 600px; }
table.table2 td, th { border-style: none;
	padding: 0.5em;
	font-family: Arial, sans-serif; }
caption { font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em; }
header, nav, main, footer { display: block; } /*5/2/18 backward compat. for older browsers*/

/*4/29/18 tablet and Smartphone config*/
/*4/29/18 Tablet Config*/
@media only screen and (max-width: 1024px) {  
	body { margin: 0;
		padding: 0;
		background-image: none; }
	#wrapper { width: auto;
		min-width: 0;
		box-shadow: none; }
	h1 { margin: 0; }
	nav { float: none;
		width: auto;
		padding: 0.5em; }
	nav li { display: inline-block; }
	nav a { padding: 1em; }
	main { margin-left: 0;
		padding: 1em;
		font-size: 90%; }
	footer { margin: 0; }
}
/*4/2918 Smartphone config*/

@media only screen and (max-width: 768px) {  
	body { margin: 0;
		padding: 0;
		background-image: none; }
	#wrapper { width: auto;
		min-width: 0;
		box-shadow: none; }
	#nestmap { margin-left: 0;
		margin-top: 2em; }
	h1 { margin: 0;
		height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em; }
	nav { float: none;
		width: auto;
		padding: 0; }
	nav li { display: block;
		/*margin-left, margin-right: 0;*/
		margin-top: 1em;
		padding: 0; }
	nav ul { margin: 0;
		padding: 0; }
	nav a { padding: 0.2em;
		font-size: 1.3em;
		border-bottom: 1px solid #330000; }
	main { margin-left: 0;
		padding-top: 0.1em;
		padding-right: 0.6em;
		padding-bottom: 0.1em;
		padding-left: 0.4em;
		font-size: 90%; }
	footer { margin: 0;
		padding: 0; }
}
/*9/17/18 div for Monarch Counter form*/	
#monarchCounter { margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-width: 300px;
	max-width: 700px;
	width: 60%;
	background-color: #339933; }
/*9/17/18 form element for Monarch Counter*/
form { background-color: #339933;
	font-family: comic sans ms, Verdana, sans serif;
	padding: 10px;
	color: #ffffcc }
label { /*float: left;*/
	width: 300px;
	/*clear: left;*/
	text-align: center;
	padding-right: 10px;
	margin-top: 5px; }
input { margin-top: 10px;
	display: block; }
textarea { margin-top: 10px;
	display: block;
	background-color: #ffffcc }
#mysubmit { margin-left: 110; }

