/*
   Survey Forms Style Sheet Example
   Author: Terri Lyman
   Date:  March 23, 2019 

   Filename:  hu_forms.css

*/

/* Form Layout Styles */

/* set #diyForm as flexbox, oriented in rows with wrapping 4/19/19 */
form#diyForm {
   display: -webkit-flex;
   display: flex;
   
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

/* set fieldset width 50% (trying to get mobile screen to orient with one fieldset above
   the other tried several ways, but left this one here) 4/22/19 */
/* set background-color light blue rgba(53, 157, 237, 0.35) font-size 1.25rem, color 
   dk blue rgb(53, 157, 237), padding 10px margin 10px, flex basis 100px, grow/shrink
   at same rate 4/19/19 */
form#diyForm > fieldset {
   background-color: rgba(53, 157, 237, 0.35);
   width: 50%;
   -webkit-flex: 1 1 100px;
   flex: 1 1 100px;
   font-size: 1.25rem;
   color: rgb(61, 74, 84);
   border: 1px solid rgb(53, 157, 237);
   padding: 10px;
   margin: 10px;   
}

/* input margin-bottom 20px 4/17/19 */
input {
  margin-bottom: 20px;
}

/* set class formRow to flexbox, row wrap, margin 10px 0px, font-family "Raleway", 
   sans-serif 4/17/19 */
div.formRow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   margin: 10px 0px;
   font-family: "Raleway", sans-serif;
}

/* set flex basis 150px, grow/shrink at same rate 4/17/19 */
div.formRow > * {
   -webkit-flex: 1 1 150px;
   flex: 1 1 150px;
}




/* Legend Styles */
/* set legend color dk blue rgb(61, 74, 84) font-size 1.75rem, padding 5px, font-family 
   "Raleway", sans-serif 4/17/19 */
legend {
   color: rgb(61, 74, 84);
   font-size: 1.75rem;
   font-family: "Raleway", sans-serif;
   padding: 5px; 
}


/* Text Area Styles */
/* set vertical-align top, margin-bottom 20px, height 75px, width 90% 4/17/19 */
textarea {
   vertical-align: top;
   margin-bottom: 20px;
   height: 75px;
   width: 90%;
   
}

/* Form Button Styles */

div#buttons { /* set div element width to 100% and horiz center content 4/19/19 */
  text-align: center;
  width: 100%;
}

/* add button font size 1.5rem, padding 5px, margin 15px, font-family "Raleway",
   sans-serif, border 5px solid rgb(237, 59, 53) 4/19/19  */
input[type='submit'], input[type='reset'] {
  font-size: 1.5rem; 
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin: 15px;
  border: 5px solid rgb(237, 59, 53);
}

